{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMax - Detalhes do Filme</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}?v=1.3">
</head>
<body>

    <div id="loader" class="loading-screen">Carregando catálogo...</div>

    <div class="page-container">

        <nav class="navbar">
            <div class="logo">MOVIEMAX</div>
        </nav>

        <div class="hero-banner" id="filmeBanner">
            <div class="hero-overlay"></div>

            <div class="hero-content">
                <h1 class="hero-title" id="filmeTitulo">---</h1>

                <div class="meta-container">
                    <span class="rating-badge">★ <span id="filmeNota">0.0</span></span>
                    <span id="filmeAno">---</span>
                    <span class="tag-genero" id="filmeTagGenero">---</span>
                </div>

                <div class="actions-bar">
                    <button class="btn-play">▶</button>
                    <button class="btn-circle">+</button>
                    <button class="btn-circle">👍</button>
                </div>

                <p class="hero-mini-overview" id="filmeMiniSinopse">---</p>
            </div>
        </div>

        <div class="details-wrapper">
            <div class="col-left">
                <h2>Sinopse</h2>
                <p class="full-sinopse" id="filmeResumoCompleto">---</p>
            </div>

            <div class="col-right">
                <div>
                    <div class="info-block-title">Direção</div>
                    <div class="info-block-value" id="filmeDiretor">---</div>
                </div>
                <div>
                    <div class="info-block-title">Elenco</div>
                    <div class="info-block-value" id="filmeElenco">---</div>
                </div>
                <div>
                    <div class="info-block-title">Gênero</div>
                    <div class="info-block-value" id="filmeListaGeneros">---</div>
                </div>
                <div>
                    <div class="info-block-title">Duração</div>
                    <div class="info-block-value" id="filmeDuracao">---</div>
                </div>
                <div>
                    <div class="info-block-title">Ano</div>
                    <div class="info-block-value" id="filmeFichaAno">---</div>
                </div>
            </div>
        </div>

        <div class="recommendations-section">
            <div class="rec-header">
                <h2>Recomendados para você</h2>
                <a href="http://127.0.0.1:8000/portalfilmes/" class="rec-ver-tudo">Ver tudo</a>
            </div>
            <div class="recommendations-grid" id="containerRecomendados">
                </div>
        </div>

    </div>

   <script src="{% static 'js/script3.js' %}?v=1.6"></script>
</body>
</html>