{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviemax - Catálogo de Filmes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.3">
</head>
<body>
    <header class="header">
        <div class="logo"><span>MOVIEMAX</span></div>

        <div class="filtros-container">
            <div class="filtro-grupo">
                <span class="filtro-label">Gênero</span>
                <select
                    type="text"
                    id="filtroGenero"
                    class="filtro-input"
                    autocomplete="off"
                >
                    <option class="filtro-input" value="">Esolha o Genero</option>
                    <option class="filtro-input" value="Acao">Acao</option>
                    <option class="filtro-input" value="Aventura">Aventura</option>
                    <option class="filtro-input" value="Animacao">Animacao</option>
                    <option class="filtro-input"value="Infantil">Infantil</option>
                    <option class="filtro-input"value="Comedia">Comedia</option>
                    <option class="filtro-input" value="Crime">Crime</option>
                    <option class="filtro-input"value="Documentario">Documentario</option>
                    <option class="filtro-input" value="Drama">Drama</option>
                    <option class="filtro-input" value="Fantasia">Fantasia</option>
                    <option class="filtro-input" value="Filme-Noir">Filme-Noir</option>
                    <option class="filtro-input"value="Terror">Terror</option>
                    <option class="filtro-input" value="Musical">Musical</option>
                    <option class="filtro-input" value="Misterio">Misterio</option>
                    <option class="filtro-input" value="Romance">Romance</option>
                    <option class="filtro-input"value="Ficcao Cientifica">Ficção Cientifica</option>
                    <option class="filtro-input" value="Suspense">Suspense</option>
                    <option class="filtro-input" value="Guerra">Guerra</option>
                    <option class="filtro-input"value="Faroeste">Faroeste</option>
                </select>
            </div>

            <div class="filtro-grupo">
                <span class="filtro-label">Título</span>
                <input
                    type="text"
                    id="filtroTitulo"
                    class="filtro-input"
                    placeholder="Buscar por título..."
                    autocomplete="off"
                >
            </div>

            <button class="btn-pesquisar" id="btnPesquisar">Buscar</button>
            <button class="btn-limpar" id="btnLimpar">Limpar</button>
            <a href="http://127.0.0.1:8000/portalfilmes/dashboard.html" class="btn-analise" id="btnanalise">Metricas de Conteudo</a>
        </div>
    </header>

    <main class="container">
        <div class="status-info" id="statusInfo">
            <span class="status-texto">Carregando filmes...</span>
        </div>

        <div id="conteudoPrincipal">
            <div class="carregando">
                <div class="spinner"></div>
                <p>Carregando filmes...</p>
            </div>
        </div>

        <div class="paginacao-container" id="paginacaoContainer" style="display: none;">
            <button class="btn-pagina" id="btnAnterior">← Anterior</button>
            <span class="info-paginacao" id="infoPaginacao"></span>
            <button class="btn-pagina" id="btnProximo">Próximo →</button>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}?v=1.6"></script>
</body>
</html>